.main-title {
    text-align: center;
    font-size: 3rem;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adds spacing between the cards */
}