button {
    width: 300px;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

.normal {
    background-color: #3c668c;
    margin: 1rem;
}

.danger {
    background-color: red;
    margin: 1rem;
}