/* InfoForm.css */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.info-container, .social-container {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-field {
    margin-bottom: 1rem;
    width: 100%;
}

input, textarea {
    width: 100%; 
    border-radius: 4px;
    padding: 1.5rem;
    font-size: 1.5rem;
}

textarea {
    height: 150px;
    resize: vertical;
    margin-bottom: 2rem;
}

label {
    display: block;
    font-size: 1.75rem; /* Font size for label */
    margin-top: 0.5rem;
    margin-bottom: 0.1rem; /* Space between label and input */
}

legend {
    font-size: 2.5rem; /* Font size for legend */
    margin-bottom: 1rem;
    color: #77a4ce;
    font-family: "Sono", monospace;
}
