header {
    height: 600px;
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid rgb(66, 74, 89);
    text-align: center;
    background-image: url('./assets/static/creatorverse.jpg');
}

h1 {
    display: block;
    color: var(--darkreader-text--color, #e8e6e3);   
    line-height: 1em;
    font-family: "Sono", monospace;
    font-size: 8vw;
    --darkreader-bg--color: var(--darkreader-bg--h1-color);
    --darkreader-text--color: var(--darkreader-text--h1-color);
    --font-size: 2rem;
    --typography-spacing-vertical: 3rem;
    --font-weight: 700;


    margin-top: 0;
    margin-bottom: var(--typography-spacing-vertical);
    font-weight: var(--font-weight);

    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

h1, h2{
    text-transform: uppercase;
}

.nav-container {
    display: flex;
    justify-content: center;
}

nav {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.submit-btn-container {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}